[gui]
    encoding = utf-8
[difftool]
    prompt = false
[github]
    user = mogimogitomato
[mergetool]
    prompt = false
    keepBackup = false
[pull]
    ff = only
[color]
    ui = auto
[alias]
    a = add
    a-p = add -p
    alias  = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\\t => \\2/' | sort
    b = branch
    b-a = branch -a
    b-cp = "!f(){ git branch | grep $1 | sed -e \"s/* //\" > /dev/clipboard;};f"
    ci = commit
    ci-am = commit --amend
    ci-m = commit -m
    co-ti = "!f(){ git branch | grep $1 | xargs git checkout;};f"
    d = diff
    dc = diff --cached
    dw  = diff --color-words --word-diff-regex='[-a-zA-Z0-9_]+|.'
    dwc = diff --color-words --word-diff-regex='[-a-zA-Z0-9_]+|.' --cached
    f = fetch
    l = log
    l-count = log --numstat --pretty="%H" --author='mogimogitomato' --since=2018-05-10 --no-merges | awk 'NF==3 {plus+=$1; minus+=$2} END {printf("%d (+%d, -%d)\n", plus+minus, plus, minus)}'
    l-g = log --graph --date-order --all --pretty=format:'%h %Cred%d %Cgreen%ad %Cblue%cn %Creset%s' --date=short
    l-p = log -p
    l-s = log --stat
    l-self = log --numstat --pretty="%H" --author='mogimogitomato' --since=2018-05-10 --no-merges
    p = push origin HEAD
    pick = cherry-pick
    pr = pull --rebase -p
    r-a = rebase --abort
    r-c = rebase --continue
    r-i = rebase -i
    rs = restore
    s = status
    st = stash
    st-l = stash list
    st-p = stash pop
    st-s = stash save
    sw = switch
    sw-c = switch -c
    # alias for git-town (can execute like simple git command)
    append = town append
    hack = town hack
    kill = town kill
    new-pull-request = town new-pull-request
    prepend = town prepend
    prune-branches = town prune-branches
    rename-branch = town rename-branch
    repo = town repo
    ship = town ship
    sync = town sync
[user]
	email = osakana.yano49@gmail.com
	name = mogimogitomato
[ghq]
	root = ~/workspace
