aiohttp==3.8.4
aiosignal==1.3.1
arrow==1.2.3
async-timeout==4.0.2
attrs==22.2.0
aws-lambda-builders==1.27.0
aws-sam-cli==1.76.0
aws-sam-translator==1.60.1
binaryornot==0.4.4
boltons==23.0.0
boto3==1.26.88
botocore==1.29.88
certifi==2022.12.7
cffi==1.15.1
cfn-lint==0.74.1
chardet==4.0.0
charset-normalizer==3.1.0
chevron==0.14.0
click==8.1.3
click-spinner==0.1.10
cookiecutter==2.1.1
cryptography==39.0.2
dateparser==1.1.7
docker==4.2.2
face==20.1.1
Flask==2.0.3
frozenlist==1.3.3
glom==23.1.1
idna==2.10
itsdangerous==2.1.2
Jinja2==3.1.2
jinja2-time==0.2.0
jmespath==0.10.0
jschema-to-python==1.2.3
jsonpatch==1.32
jsonpickle==3.0.1
jsonpointer==2.3
jsonschema==4.17.3
junit-xml==1.9
MarkupSafe==2.1.2
multidict==6.0.4
networkx==3.0
openai==0.27.2
pbr==5.11.1
prompt-toolkit==3.0.38
pycparser==2.21
Pygments==2.14.0
pyOpenSSL==23.0.0
pyrsistent==0.19.3
python-dateutil==2.8.2
python-dotenv==1.0.0
python-slugify==8.0.1
pytz==2022.7.1
PyYAML==5.4.1
questionary==1.10.0
regex==2021.9.30
requests==2.25.1
ruamel.yaml==0.17.21
s3transfer==0.6.0
sarif-om==1.0.4
serverlessrepo==0.1.10
six==1.16.0
subprocess-tee==0.4.1
text-unidecode==1.3
toml==0.10.2
tomlkit==0.7.2
tqdm==4.65.0
typing_extensions==4.4.0
tzlocal==3.0
urllib3==1.26.14
wanna==0.1.8
watchdog==2.1.2
wcwidth==0.2.6
websocket-client==1.5.1
Werkzeug==2.2.3
yarl==1.8.2
